.text-xs {
    font-size: .7rem;
}
.border-left-primary {
    border-left: .25rem solid #4e73df!important;
}
.border-left-success {
    border-left: .25rem solid #1cc88a!important;
}
.border-left-info {
    border-left: .25rem solid #36b9cc!important;
}
.border-left-warning {
    border-left: .25rem solid #f6c23e!important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}
.h-100 {
    height: 100%!important;
}
.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
}
.h3, h3 {
    font-size: 1.75rem;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.text-gray-300 {
    color: #676767 !important;
}
.text-gray-800 {
    color: #676767!important;
}
.footer {
    position: relative !important;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}