{% extends 'home.html' %}

{% block title %} Login {% endblock %}
{% block head_block %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />
{% endblock %}
{% block body_block %}
    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page.</p>
        {% else %}
            <p>Please login</p>
        {% endif %}
    {% endif %}
    <div class="wrapper fadeInDown">
        <div id="formContent" >
            <!-- Tabs Titles -->
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                  Incorrect information !!
                </div>
            {% endif %}
           <div class="login-form">
            <form method="POST" action="{% url 'login' %}">
                 <h2 class="text-center">Log in</h2>
                {% csrf_token %}
                <div class="form-group">
                    <!--<label for="email">Email address</label>-->
                    <input type="email" class="form-control" name="username" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <!--<label for="password">Password</label>-->
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login </button>
                </div>
                <div class="clearfix">
                    <!-- <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label> -->
                    <a href="/accounts/password_reset" class="pull-right">Forgot Password?</a>
                </div>
            </form>
           </div>
        </div>

        <!-- Remind Password -->
        <!--<div id="formFooter">
          <a class="underlineHover" href="{% url 'password_reset' %}">Forgot Password?</a>
        </div>-->
    </div>

{% endblock %}