{% extends 'home.html' %}

{% block title %} Verify OTP {% endblock %}
{% block head_block %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />
{% endblock %}
{% block body_block %}
    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page.</p>
        {% else %}
            <p>Please login</p>
        {% endif %}
    {% endif %}
    <div class="wrapper fadeInDown">
        <div id="formContent" >
            <!-- Tabs Titles -->
            {% if errors %}
                <div class="alert alert-danger" role="alert">
                    {{ errors }}
                </div>
            {% endif %}
            {% if message %}
                <div class="alert alert-success" role="alert">
                  {{ message }}
                </div>
            {% endif %}
           <div class="login-form">
            <form method="POST" >
                 <h2 class="text-center">Enter OTP</h2>
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" class="form-control" name="otp">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Verify </button>
                </div>
                <div class="clearfix">
                    <a href="{% url 'request_otp' %}?next={{request.GET.next}}" class="pull-right">Resend OTP</a>
                </div>
            </form>
           </div>
        </div>
    </div>
{% endblock %}