{% extends 'home.html' %}
{% block title %} Password reset confirm {% endblock %}
{% block head_block %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}?v={{ context.SCRIPT_VERSION }}" />
{% endblock %}
{% block body_block %}
  {% if validlink %}
    <div class="wrapper fadeInDown">
      <div id="formContent" >
        <!-- Tabs Titles -->
        {% if form.new_password1.errors or form.new_password2.errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.new_password1.errors | striptags }}
            {{ form.new_password2.errors | striptags }}
          </div>
        {% endif %}
        <div class="login-form">
          <div class="text-center">
            <form action="" id="register-form" role="form" autocomplete="off" class="form" method="post">
              {% csrf_token %}
              <h3><i class="fa fa-lock fa-4x"></i></h3>
              <h2 class="text-center">Reset Password</h2>
              <p>Please enter your new password.</p>
              <div class="form-group">
                <div class="input-group">

                  <input id="password" name="new_password1" placeholder="New Password" class="form-control"  type="password" required>
                </div>
              </div>
                <div class="form-group">
                  <div class="input-group">

                  <input name="new_password2" placeholder="Confirm Password" class="form-control"  type="password" required>
                </div>
              </div>
              <div class="form-group">
                <input class="btn btn-lg btn-primary btn-block" value="Change Password" type="submit">
              </div>
              <div class="clearfix text-left">
                <ul>
                  <li>Minimum 8 characters</li>
                  <li>Different from your name</li>
                  <li>Cannot be all numeric</li>
                  <li>Cannot be a commonly used password</li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="text-center">
      <p>
        <h3>Password reset failed</h3>
        <h5>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</h5>
      </p>
    </div>
  {% endif %}
{% endblock %}