{% extends 'home.html' %}
{% block title %} Password reset complete {% endblock %}
{% block body_block %}
    <div class="text-center">
        <p>
        <h3>Password reset complete</h3>
        </p>
        <p>Your password has been set. You may go ahead and log in now.</p>
    </div>
{% endblock %}