{% extends 'home.html' %}
{% block title %} Password Change {% endblock %}
{% block head_block %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}?v={{ context.SCRIPT_VERSION }}" />
{% endblock %}
{% block body_block %}
<div class="wrapper fadeInDown">
    <div id="formContent" >
        <!-- Tabs Titles -->
        {% if form.new_password1.errors or form.new_password2.errors or form.old_password.errors  %}
        <div class="alert alert-danger" role="alert">
            {{ form.new_password1.errors | striptags }}
            {{ form.new_password2.errors | striptags }}
            {{ form.old_password.errors | striptags }}
        </div>
        {% endif %}
        <div class="login-form">
            <div class="text-center">
                <form action="" id="register-form" role="form" autocomplete="off" class="form" method="post">
                    {% csrf_token %}
                    <h3><i class="fa fa-lock fa-2x"></i></h3>
                    <h2 class="text-center">Password Change</h2>
                    <!--<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>-->
                    <div class="form-group">
                        <div class="input-group">
                            <input id="old_password" name="old_password" placeholder="Old Password" class="form-control"  type="password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input id="password" name="new_password1" placeholder="New Password" class="form-control"  type="password" required>
                        </div>
                    </div>
                    <div class="clearfix text-left">
                        <ul>
                            <li class="small">Minimum 8 characters</li>
                            <li class="small">Different from your name</li>
                            <li class="small">Cannot be all numeric</li>
                            <li class="small">Cannot be a commonly used password</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input name="new_password2" placeholder="Confirm Password" class="form-control"  type="password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-lg btn-primary btn-block" value="Change Password" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}