{% extends 'home.html' %}
{% block title %} Password reset done {% endblock %}
{% block body_block %}
    <div class="text-center">
        <p>
        <h3>If you have an account we've emailed you instructions for setting your password.
        If it doesn't arrived in a few minutes, check your spam folder.</h3>
        <h6>Note: If you had an account and deactivated it. Please email <a href="mailto:notifications@nihit.in">notifications@nihit.in</a> to get it activated.</h6>
        </p>
    </div>
{% endblock %}