{% extends 'home.html' %}
{% block title %} Password Reset {% endblock %}
{% block head_block %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}?v={{ context.SCRIPT_VERSION }}" />
{% endblock %}
{% block body_block %}
<div class="wrapper fadeInDown">
  <div id="formContent" >
    <!-- Tabs Titles -->
    {% if form.email.errors %}
      <!-- <div class="alert alert-danger" role="alert">
        There seems to be an issue with your input
      </div> -->
    {% endif %}
    <div class="login-form">
      <div class="text-center">
        <form action="" id="register-form" role="form" autocomplete="off" class="form" method="post">
          {% csrf_token %}
          <h3><i class="fa fa-lock fa-2x"></i></h3>
          <h2 class="text-center">Forgot Password?</h2>
          <p>You can reset your password here.</p>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
              <input id="email" name="email" placeholder="email address" class="form-control"  type="email" required>
            </div>
          </div>
          <div class="form-group">
            <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}