{% extends 'home.html' %}
{% block title %} Password Changed {% endblock %}
{% block body_block %}
    <div class="text-center">
        <p>
        <h3>Password Changed</h3>
        </p>
        <p>Your password has been changed.</p>
    </div>
{% endblock %}