{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block title %} Travel Dates {% endblock %}
{% block head_block %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}?v={{ context.SCRIPT_VERSION }}"/>
{% endblock %}
{% block body_block %}
<div class="wrapper">
    <h3 class="text-center">Travel Dates from and to {{country}}</h3>
    <br>
    {% if form.non_field_errors  %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors|striptags }}
        </div>
    {% endif %}
    <form method="post" action="/travel/">
        {% csrf_token %}
        {% if edit %}
            <input type="hidden" name="edit_id" value="{{ edit_id }}">
        {% endif %}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.destination_country|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.exit_date|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.entry_date|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 mb-0 ">
                {{ form.reason|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-0 ">
                <button type="submit" class="btn btn-primary" value="save"> Save</button>
            </div>
        </div>
    </form>
</div>
<p><b>Info:</b> Destination country & Reason fields are required when you fill the official form. Reasons field will
    have max 400 characters allowed</p>
{% if db_data %}
{% load countries %}
<hr/>
<br>
<div class="row">
    <div class="text-center col-md-12">
        <h3 class="text-center">Previous Travel Dates</h3>
    </div>
    <table class="table table-hover table-responsiv" id="ptd_table">
        <thead class="">
        <tr>
            <th scope="col"><input id="select_all" type="checkbox" onchange="javascript:select_all(this)"></th>
            <th scope="col">Country</th>
            <th scope="col">Exit Date</th>
            <th scope="col">Entry Date</th>
            <th scope="col">Destination</th>
            <th scope="col">Days</th>
            <th scope="col">Reason</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for rows in db_data %}
        {% get_country rows.country_name as country %}
        {% get_country rows.destination_country as d_country %}
        <tr>
            <td><input name="id_list" type="checkbox" value="{{rows.id}}"></td>
            <td>{{ country.name }}</td>
            <td>{{rows.exit_date}}</td>
            <td>{{rows.entry_date}}</td>
            <td>{{d_country.name}}</td>
            <td>{{rows.number_of_days}}</td>
            <td id="reason_{{ forloop.counter }}" onclick="javascript:show_data('reason_{{ forloop.counter }}');"
                class="table-text"><span>{{rows.reason}}</span></td>
            <td><form method="post" action="/travel/edit/{{rows.id}}">{% csrf_token %}<button class="btn-sm btn btn-outline-primary">Edit</button></form></td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">
                <button name="save" type="submit" class="btn btn-primary" onclick="delete_rows()"> Delete</button>
            </td>
            <td colspan="5"></td>
        </tr>
        </tfoot>
    </table>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
        integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
<script src="{% static 'travel.js' %}?v={{ context.SCRIPT_VERSION }}"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
      integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous"/>
{% endblock %}