{% extends 'home.html' %}
{% block title %} Deactivate Account {% endblock %}
{% block head_block %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}?v={{ context.SCRIPT_VERSION }}" xmlns="http://www.w3.org/1999/html"/>
    {% endblock %}
{% block body_block %}
<div class="wrapper fadeInDown">
    <div id="formContent" >
        {% if form.errors or message %}
        <div class="alert alert-danger" role="alert">
            {{ form.errors }}
            {{ message }}
        </div>
        {% endif %}
        <div class="login-form">
            <div class="text-left">
                <form id="deactivate-form" role="form" class="form" method="post">
                    {% csrf_token %}
                    <h2 class="text-center">Deactivate Account</h2>
                    <div class="form-group">
                        <div class="input-group">
                            <input id="confirm_input" name="confirm" placeholder="Type YES" class="form-control"  type="text" required">
                        </div>
                        <ul class="list-unstyled">
                            <li class="small">Please type <b>"YES"</b> to confirm and click deactivate (CASE SENSITIVE)</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-lg btn-primary btn-block" value="Deactivate" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}