{% extends 'home.html' %}
{% block title %} Profile {% endblock %}
{% block head_block %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}?v={{ context.SCRIPT_VERSION }}" xmlns="http://www.w3.org/1999/html"/>
{% endblock %}
{% block body_block %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        {% if message %}
        {% if message.success %}
        <div class="alert alert-success" role="alert">
            {{ message.success | striptags }}
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            {{ message.pr_date | striptags }}
            {{ message.entry_date | striptags }}
            {{ message.non_field_errors }}
            {{ message.gen }}
        </div>
        {% endif %}
        {% endif %}
        <div class="login-form">
            <div class="text-left">
                <form id="profile-form" role="form" class="form" method="post">
                    {% csrf_token %}
                    <h2 class="text-center">Profile</h2>
                    <div class="form-group">
                        <div class="input-group">
                            <input id="first_name" name="first_name" placeholder="First Name" class="form-control"
                                   type="text" required value="{{user.first_name}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input id="last_name" name="last_name" placeholder="Last Name" class="form-control"
                                   type="text" required value="{{user.last_name}}">
                        </div>
                    </div>
                    {% include "country_select.html" %}
                    <div class="form-group">
                        <label for="id_entry_date">First Entry Date</label>
                        <a class="text-primary" data-toggle="tooltip" data-placement="top"
                           title="The day you entered the country for the first time.">
                            <i class="fa fa-info-circle fa-1x"></i>

                        </a>
                        <div class="input-group">
                            <input autocomplete="off" name="entry_date" aria-describedby="entry_date_help"
                                   placeholder="Entry Date" class="form-control" type="text" id="id_entry_date"
                                   required value="{{ data.entry_date|date:'Y-m-d'}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_pr_date">Permanent Residence Date</label>
                        <a class="text-primary" data-toggle="tooltip" data-placement="top"
                           title="Enter the date you became a permanent resident of Canada (see Box 45 on your Record of Landing (IMM 1000), Box 46 on your Confirmation of Permanent Residence (IMM 5292 or IMM 5509) or the back of your Permanent Resident Card).">
                            <i class="fa fa-info-circle fa-1x"></i>

                        </a>
                        <div class="input-group">
                            <input autocomplete="off" name="pr_date" aria-describedby="pr_date_help"
                                   placeholder="PR Date" class="form-control" type="text" id="id_pr_date"
                                   value="{{ data.pr_date|date:'Y-m-d'}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Reminders</label>
                        <a class="text-primary" data-toggle="tooltip" data-placement="top"
                           title="Regular notifications">
                            <i class="fa fa-info-circle fa-1x"></i>
                        </a>
                        <div class="input-group">
                        <label for="id_notifications_on_0">
                            <input required type="radio" name="notifications_on" value="1" id="id_notifications_on_0" {{ context.notifications_true }}>
                            On </label>
                        </div>
                        <div class="input-group">
                        <label for="id_notifications_on_1">
                            <input required type="radio" name="notifications_on" value="0" id="id_notifications_on_1"  {{ context.notifications_false }}>
                            OFF</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-lg btn-primary btn-block" value="Save" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$('#profile-form').on('submit', function() {
    $('#country_select').prop('disabled', false);
});


</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
        integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
<script src="{% static 'profile.js'%}?v={{ context.SCRIPT_VERSION }} "></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
      integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous"/>
{% endblock %}