{% extends 'home.html' %}
{% block title %} Not Found {% endblock %}
{% block body_block %}
    <div class="text-center">
        <p>
        <h3>Page Not Found</h3>
        </p>
    </div>
{% endblock %}