{% extends 'home.html' %}
{% block title %} Activation link sent {% endblock %}
{% block body_block %}
    <div class="text-center">
        <p>
        <h3>Activation link sent! Please check your mail.</h3>
        </p>
    </div>
{% endblock %}