{% extends 'home.html' %}
{% block title %} Activation {% endblock %}
{% block body_block %}
    <div class="text-center">
        <p>
        <h3>{{ message }}</h3>
        </p>
    </div>
{% endblock %}