<div class="form-group">
        {% load countries %}
        {% get_countries as countries %}
        <select class="form-control" id="country_select" name="country_name" {{ disabled }}>
            <option value="">Select Country</option>
        {% for country in countries %}
            {% if data.country_name == country.code %}
                <option value="{{ country.code }}" selected>{{ country.name }}</option>
            {% elif data.country_name == NONE and country.code == "CA" %}
                <option value="{{ country.code }}" selected>{{ country.name }}</option>
            {% else %}
                <option value="{{ country.code }}">{{ country.name }}</option>
            {% endif %}
        {% endfor %}
        </select>
        <ul class="list-unstyled">
            <li class="small">{{ country_help_text }}</li>
        </ul>
</div>