{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block title %} Dashboard {% endblock %}
{% block head_block %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free/css/all.min.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
{% endblock %}
{% block body_block %}
<!-- Begin Page Content -->
<br>
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  <!-- Content Row -->
  <div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Accountable Days</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ accountable_days|floatformat:"0" }} / {{ target_days }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar-check fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Days Out of {{ country }}</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ out_days }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar-times fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Completed</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ percentage_complete|floatformat:"0" }}</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-info" role="progressbar" style="width: {{ percentage_complete|floatformat:'0' }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-percent fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Days Left</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ days_left }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar-plus fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->

  <div class="row">

    <!-- Pie Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Days Overview</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="myPieChart"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle text-primary"></i> Days Left
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-success"></i> Accountable Days
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12">
       <!-- Bar Chart -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Days Statistics</h6>
      </div>
      <div class="card-body">
        <div class="chart-bar">
          <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand"><div class=""></div>
          </div>
          <div class="chartjs-size-monitor-shrink"><div class=""></div>
          </div>
        </div>
          <canvas id="daysBarChart" width="627" height="320" class="chartjs-render-monitor" style="display: block; width: 627px; height: 320px;"></canvas>
        </div>
        <hr>
        {{ bar_graph_text }}
      </div>
    </div>
    </div>
  </div>
</div>
<input type="hidden" id="acc_days" value="{{ accountable_days }}">
<input type="hidden" id="days_left" value="{{ days_left }}">
<input type="hidden" id="bar_chart_labels" value="{{ chart_labels }}">
<input type="hidden" id="bar_chart_values" value="{{ chart_values }}">
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/dashboard.css' %}?v={{ context.SCRIPT_VERSION }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
<script src="{% static 'Chart.min.js' %}?v={{ context.SCRIPT_VERSION }}"></script>
<script src="{% static 'dashboard/pie-charts.js' %}?v={{ context.SCRIPT_VERSION }}"></script>
<script src="{% static 'dashboard/bar-charts.js' %}?v={{ context.SCRIPT_VERSION }}"></script>
{% endblock %}