<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="Nihit Malhotra, permanent days tracker, permanent residence days tracker, physical presence calculator">
    <title>{% block title %} Permanent Residence Days Tracker {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-zFzXNZnkXgOSk/hRVQNKFU1ZqC9h18Ge1sp4XCwupvrh3zLMRHclbusmMKTznUnX" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}?v={{ context.SCRIPT_VERSION }}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.jpg' %}"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JXD1NQM41K"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JXD1NQM41K');
    </script>
    {% block head_block %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light border">
    <a class="navbar-brand" href="/">PR<sup>DT</sup></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="/travel">Travel Dates</a></li>
            <li class="nav-item"><a class="nav-link" href="/how">How?</a></li>
            {% else %}
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ user.first_name }}
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                     aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <a class="dropdown-item" href="/accounts/password_change">Change Password</a>
                    <a class="dropdown-item" href="/deactivate">Deactivate Account</a>
                    <a class="dropdown-item" href="/accounts/logout">Logout</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="/accounts/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container body-div">
    {% block body_block %}
    {% if user.is_authenticated == False %}
    {% include 'welcome_page.html' %}
    {% endif %}
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
{% block scripts %} {% endblock %}
</body>
<footer class=" footer text-center">
    Copyright © 2020 Nihit Malhotra. All rights reserved. Contact: <a target="_blank" href="mailto:notifications@nihit.in">notifications@nihit.in</a>
</footer>
</html>