{% extends 'home.html' %}
{% block title %} Sign Up {% endblock %}
{% block head_block %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}?v={{ context.SCRIPT_VERSION }}"/>
<!--<script src='https://www.google.com/recaptcha/api.js?render=6LeGJ_MUAAAAALWZNarwZMOhmy_j2di2cZ6yqZoB'></script>-->
{% endblock %}
{% block body_block %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.errors.email }}
            {{ form.errors.password2 }}
        </div>
        {% endif %}
        <div class="login-form">
            <div class="text-center">
                <form id="register-form" role="form" class="form" method="post">
                    {% csrf_token %}
                    <h2 class="text-center">Sign up</h2>
                    <div class="form-group">
                        <div class="input-group">
                            <input id="email" name="email" placeholder="email" class="form-control" type="email"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input id="id_password1" name="password2" placeholder="Password" class="form-control"
                                   type="password" required>
                        </div>
                    </div>
                    <div class="clearfix text-left">
                        <ul>
                            <li class="small">Minimum 8 characters</li>
                            <li class="small">Different from your name</li>
                            <li class="small">Cannot be all numeric</li>
                            <li class="small">Cannot be a commonly used password</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <button data-callback='onSubmit' data-action='submit'
                                data-sitekey="6LeGJ_MUAAAAALWZNarwZMOhmy_j2di2cZ6yqZoB"
                                class="g-recaptcha btn btn-lg btn-primary btn-block">Register
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
function onSubmit(token) {
     document.getElementById("register-form").submit();
   }
   //function onClick(e) {
   //     e.preventDefault();
   //     grecaptcha.ready(function() {
   //       grecaptcha.execute('reCAPTCHA_site_key', {action: 'submit'}).then(function(token) {
   //           // Add your logic to submit to your backend server here.
   //           document.getElementById("register-form").submit();
   //       });
   //     });
   //   }
</script>
{% endblock %}