{% block head_block %}{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <div class="container">
        <h4><font class="text-info">Permanent Residence</font> <font class="text-warning">Days Tracker</font></h4>
        <h3 class="">Journey From Resident --> P.R. --> Citizen</h3>
        <p>Keep track of accountable days spent in a country and get notified when an
            application for citizenship can be filed.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3 > Features</h3>
        <ul>
            <li>Simple Sign Up</li>
            <li>No sensitive data required</li>
            <li>Two-Step Authentication</li>
            <!--<li>Simply feed exit & entry dates</li>-->
            <li>Informative <a href="/">Dashboard</a></li>
            <li>Countries covered:
                <ul>
                    <li>Canada</li>
                </ul>
            </li>
            <li>Email reminders:
                <ul>
                    <li>Update travel data</li>
                    <li>Completion of days</li>
                    <li>Stop <a href="/profile">Reminder</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
     {% if user.is_authenticated %}
        <h3> How It Works</h3>
        <ul>
            <li>Entry date (Already Done!! &#128512 )</li>
            <li>Save PR date under <a href="/profile">Profile</a></li>
            <li><a href="/travel">ADD</a> travel dates if any.</li>
        </ul>
        <p> That's all!! Leave on me now!!</p>
        {% else %}
        <h3> Did you know!!</h3>
        <p>The days you spend in the country before becoming a permanent resident also Count.</p>
        <p>Sign up and know more</p>
        <br>
        <a class="btn btn-lg btn-primary" href="/signup/"> SIGN UP </a>
        {% endif %}
    </div>
</div>
{% if user.is_authenticated %}
<hr>
<div class="row">
    <div class="col-md-12">
        <h3>Requirements </h3>
        <p>
            To be eligible for Canadian citizenship, you must have been physically present in Canada for at least 1,095
            days in the five years immediately before the date of your application. We encourage applicants to apply
            with more than the minimum requirement of 1,095 days of physical presence, to account for any
            miscalculations of absences, or any other aspect that could lower the physical presence total below
            1,095 days. Please note that you cannot meet the physical presence requirement without a minimum of
            two (2) years as a permanent resident. <br><br>

            <h5>When calculating your time in Canada:</h5>
            <ul>
            <li>Only the five (5) years immediately before the date of your application are taken into account;</li>
            <li>Each day you were physically present in Canada as an authorized temporary resident or protected person
                before you became a permanent resident counts as half a day (up to a maximum of 365 days);</li>
            <li>Each day you were physically present in Canada after you became a permanent resident counts as one day;
            </li>
            <li>Time spent serving a sentence for an offence in Canada (e.g. serving a term of imprisonment, probation
                and/or parole) cannot be counted towards your physical presence - there are some exceptions.</li>
            </ul><br><br>
            <h5>Important notice for former refugee claimants and/or PRRA applicants</h5>

            If you were issued work or study permits while your refugee claim and/or Pre-Removal Risk Assessment (PRRA) was
            being assessed, these documents did not grant you Temporary Resident status. You cannot use this period of time
            in your physical presence calculation.<br><br>

            If you are claiming time as a Protected Person, the only time allowed is the time from when you received a
            positive Protected Person decision on your refugee claim or PRRA application until the day before you became a
            permanent resident.<br><br>
        Ref: <a target="_blank" href="https://eservices.cic.gc.ca/rescalc/resCalcStartNew.do?&lang=en">External Link</a>
        </p>
    </div>
</div>
{% endif %}
{% endblock %}